 body {color: #FFFFFF; background-color: #000000; font-family: "Lucida Grande", "sans-serif";}

 h1 {font-size: 64px; text-align: center;}

 h2 {font-size: 30px; text-shadow: 5px 5px 2px #808080;}

 p {font-size: 24px; padding-top: 20px;}

 img {display: block; width: 525px; height: auto; margin: auto;}

 div {min-height: 150px; padding: 25px;}

 #red {text-align: right; background-color: #FF0000;}

 #blue {text-align: left; background-color: #0000FF;}

 #yellow {text-align: right; background-color: #FFFF00; color: #000000;} 

 #yellow h2 {text-shadow: 5px 5px 2px #C7E2C7;} 

 #green {text-align: left; background-color: #008000;}

 footer p {text-align: right; padding-right: 10px; padding-bottom: 10px;}